.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    top: 65% !important;
}
.slick-prev {
    left: 45% !important; 
    z-index: 12;
}
.slick-next {
    right: 45% !important; 
}
 #sec .slick-slide {
  margin: 10px;
}
.slick-dots {
    bottom: 136px !important;
}

 .slick-current.slick-center div img {
    transform: scale(1.2);
    border: 7px solid black !important;
    transition: all 500ms linear;
}
#sec .slick-track {
    padding-top: 70px;
}